.celda2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


input[type="radio"]{
    display: none;
}

.opcion{
    color: #4D969E;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #4D969E;
    width: 200px;
    text-align: center;
    margin: 5px 20px;
    transition: 0.3s all;
}

.opcion:hover{
    background-color: #6ab6be33;
}

input[type="radio"]:checked + .opcion{
    background-color: #4D969E;
    border: 2 solid #3d7075;
    color: white;
}

#empezar{
    
    width: 250px;
    margin: 10px 30px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: #84A58D;
    border: 1px solid #576c5d;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.3s background;
}

#empezar:hover{
    background-color: #9abda4;
}